<h1>User Audit Page</h1>
<hr/>

<% @user_audits.each do |audit| %>
  <div>
    <h2>
      <%= audit.action %> by 
      <%= audit.user&.email %> at 
      <%= audit.created_at %>
    </h2>
    <ul>
      <%= audit.audited_changes %>
    </ul>
  </div>
<% end %>